.entrance {
  position: absolute;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  top: 20%;
  left: 35%;
  display: none;
}

.visible {
  display: block;
}

@media (min-width: 320px) and (max-width: 767px) {
  .entrance {
    width: 282px;
    height: 322px;
  }
}

