.entrance__close {
    width: 32px;
    background: black;
    height: 32px;
    flex-shrink: 0;
    border: none;
    position: absolute;
    color: #fff;
    top:-10%;
    left: 100%;
    padding: 0;
}

.visible {
    display: block;
  }
